<div class="container">
  <h2>Update Course</h2>
  <form (ngSubmit)="updateCours()" #updateForm="ngForm">
    <div class="form-group">
      <label for="titre">Title:</label>
      <input type="text" id="titre" name="titre" [(ngModel)]="selectedCours.titre" required>
    </div>
    <div class="form-group">
      <label for="prix">Price:</label>
      <input type="number" id="prix" name="prix" [(ngModel)]="selectedCours.prix" required>
    </div>
    <div class="form-group">
      <label for="displayPicture">Image:</label>
      <input type="file" id="displayPicture" name="displayPicture" (change)="onFileSelected($event)">
    </div>
    <button type="submit">Update</button>
  </form>
</div>
