body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo .highlight {
    color: #FF5722; /* Adjust the color to match the "S" in the logo */
}

.hero {
    position: relative;
    height: 60vh;
    background: url('src/assets/img/groupe.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    color: white;
}

.hero .overlay h1 {
    font-size: 2em;
    margin: 0 0 20px;
}

.hero .overlay .btn {
    padding: 10px 20px;
    background: #E91E63; /* Adjust the button color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.courses-overview {
    text-align: center;
    padding: 40px 20px;
}

.courses-overview h2 {
    font-size: 2rem;
    color: #333;
}

.courses-overview .btn {
    background-color: #d8358b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
}

.courses-overview .btn:hover {
    background-color: #bb2a75;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.course {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    width: calc(33.333% - 40px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
}

.course img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.course h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
}

.course p {
    font-size: 1rem;
    color: #d8358b;
    margin-bottom: 10px;
}
/* Contact Us Form */
.contact-us {
    background: #f5a623;
    padding: 40px 20px;
    text-align: center;
    border-radius: 30px;
    margin: 200px;
  }
  
  .contact-us h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .contact-us .form-group {
    margin-bottom: 20px;
  }
  
  .contact-us label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
  }
  
  .contact-us input,
  .contact-us textarea {
    width: calc(100% - 40px);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    background: #ffe0b3;
    margin: auto;
  }
  
  .contact-us textarea {
    height: 100px;
    resize: none;
  }
  
  .contact-us .btn {
    padding: 10px 20px;
    background: #e91e63; /* Adjust the button color */
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
