<div class="container">
  <h2>Manage <span>Courses</span></h2>
  <div class="actions">
    <button class="add-btn" (click)="navigateToAddCourse()">Add New Course</button>
  </div>
  <table>
      <thead>
          <tr>
              <th></th>
              <th>Title</th>
              <th>Price</th>
              <th>Image</th>
              <th></th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let cours of coursList">
              <td><input type="checkbox"></td>
              <td>{{ cours.titre }}</td>
              <td>{{ cours.prix }} <b>DT/Month</b></td>
              <td>
                  <img [src]="cours.displayPicture" alt="Course Image" width="50">
              </td>
              <td></td>
              <td>
                  <button class="edit-btn"(click)="editCourse(cours)">✏️</button>
                  <button class="delete-btn"(click)="deleteCourse(cours.id)">🗑️</button>
              </td>
          </tr>
      </tbody>
  </table>
 
</div>
